@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #090909;
    --card: #ffffff;
    --card-foreground: #090909;
    --popover: #ffffff;
    --popover-foreground: #090909;
    --primary: #161616;
    --primary-foreground: #f9f9f9;
    --secondary: #f5f5f5;
    --secondary-foreground: #161616;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #161616;
    --destructive: #ee4444;
    --destructive-foreground: #f9f9f9;
    --border: #e4e4e4;
    --input: #e4e4e4;
    --ring: #090909;
    --chart-1: #e76e4f;
    --chart-2: #299d8f;
    --chart-3: #264753;
    --chart-4: #e8c468;
    --chart-5: #f4a361;
    --custom--bg: #F5F5F5;
    --custom-primary: #0D99FF;
    --custom-secondary: #0D99FF1A;
    --custom-danger-primary: #FF4034;
    --custom-danger-secondary: #FFE0DE;
    --custom-warning: #FE7E08;
    --custom-border: #E2E2E2;
    --custom-dark: #000000;
    --custom-grey: #717171;
    --custom-light: #FFFFFF;
    --custom-tag1: #FFF6E8;
    --custom-tag2: #ECFFE8;
    --custom-tag3: #E8FEFF;

  }
  .dark {
    --background: #090909;
    --foreground: #f9f9f9;
    --card: #090909;
    --card-foreground: #f9f9f9;
    --popover: #090909;
    --popover-foreground: #f9f9f9;
    --primary: #f9f9f9;
    --primary-foreground: #161616;
    --secondary: #252525;
    --secondary-foreground: #f9f9f9;
    --muted: #252525;
    --muted-foreground: #a2a2a2;
    --accent: #252525;
    --accent-foreground: #f9f9f9;
    --destructive: #7f1d1d;
    --destructive-foreground: #f9f9f9;
    --border: #252525;
    --input: #252525;
    --ring: #d3d3d3;
    --chart-1: #2661d8;
    --chart-2: #2db789;
    --chart-3: #e88c30;
    --chart-4: #af56db;
    --chart-5: #e2366f;
    --custom--bg: #717171;
    --custom-primary: #0D99FF;
    --custom-secondary: #0D99FF1A;
    --custom-danger-primary: #FF4034;
    --custom-danger-secondary: #FFE0DE;
    --custom-warning: #FE7E08;
    --custom-border: #E2E2E2;
    --custom-dark: #FFFFFF;
    --custom-grey: #717171;
    --custom-light: #000000;
    --custom-tag1: #FFF6E8;
    --custom-tag2: #ECFFE8;
    --custom-tag3: #E8FEFF;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--custom-bg)
}

input, button {
  font: inherit;
}

p:hover, h1, h2 {
  cursor: default;
}

button > *:hover {
  cursor: pointer;
}
