@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #090909;
    --card: #ffffff;
    --card-foreground: #090909;
    --popover: #ffffff;
    --popover-foreground: #090909;
    --primary: #161616;
    --primary-foreground: #f9f9f9;
    --secondary: #f5f5f5;
    --secondary-foreground: #161616;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #161616;
    --destructive: #ee4444;
    --destructive-foreground: #f9f9f9;
    --border: #e4e4e4;
    --input: #e4e4e4;
    --ring: #090909;
    --chart-1: #e76e4f;
    --chart-2: #299d8f;
    --chart-3: #264753;
    --chart-4: #e8c468;
    --chart-5: #f4a361;
    --custom-bg: #f5f5f5;
    --custom-primary: #0d99ff;
    --custom-secondary: #0d99ff1a;
    --custom-danger-primary: #ff4034;
    --custom-danger-secondary: #ffe0de;
    --custom-warning: #fe7e08;
    --custom-border: #e2e2e2;
    --custom-dark: #000000;
    --custom-grey: #717171;
    --custom-light: #ffffff;
    --custom-tag1: #fff6e8;
    --custom-tag2: #ecffe8;
    --custom-tag3: #e8feff;
  }
  .dark {
    --background: #090909;
    --foreground: #f9f9f9;
    --card: #090909;
    --card-foreground: #f9f9f9;
    --popover: #090909;
    --popover-foreground: #f9f9f9;
    --primary: #f9f9f9;
    --primary-foreground: #161616;
    --secondary: #252525;
    --secondary-foreground: #f9f9f9;
    --muted: #252525;
    --muted-foreground: #a2a2a2;
    --accent: #252525;
    --accent-foreground: #f9f9f9;
    --destructive: #7f1d1d;
    --destructive-foreground: #f9f9f9;
    --border: #252525;
    --input: #252525;
    --ring: #d3d3d3;
    --chart-1: #2661d8;
    --chart-2: #2db789;
    --chart-3: #e88c30;
    --chart-4: #af56db;
    --chart-5: #e2366f;
    --custom-bg: #717171;
    --custom-primary: #0d99ff;
    --custom-secondary: #0d99ff1a;
    --custom-danger-primary: #ff4034;
    --custom-danger-secondary: #ffe0de;
    --custom-warning: #fe7e08;
    --custom-border: #e2e2e2;
    --custom-dark: #ffffff;
    --custom-grey: #717171;
    --custom-light: #000000;
    --custom-tag1: #fff6e8;
    --custom-tag2: #ecffe8;
    --custom-tag3: #e8feff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--custom-bg);
}

input,
button {
  font: inherit;
}

p:hover,
h1,
h2 {
  cursor: default;
}

button > *:hover {
  cursor: pointer;
}

@layer utilities {
  .custom-time-picker {
    position: relative;
    padding-left: 1rem;
  }

  .custom-time-picker::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
  }

  .custom-time-picker::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 1rem;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='%230d99ff'><path d='M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8zm.5-13h-1v6l4.3 2.6.5-.8-3.8-2.3z'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
